extends ../templates/head-basic

block styles
  link(rel="stylesheet", href="/css/dist/login.css")

block content
  main.main

    if errors
      div.errors
        each error in errors
            p.errors__message(data-parent=error.path )= error.msg

    section.section.section__register
      form.form(method="POST")
        h1.form__title Cambiar Contraseña
        div.form__inputs
          div.form__container
            label.form__label(for="password") password
            input.form__input#password(type="password", name="password", placeholder="insert your password" )
            span.form__decoration
          div.form__container
            label.form__label(for="repeat-password") repeat password
            input.form__input#repeat-password(type="password", name="repeatPassword", placeholder="re-enter your password" )
            span.form__decoration
          div.form__links
            input.form__submit(type="submit", value="Confirmar")
block scripts
  script(src="/js/auth/auth.js") 