extends ../templates/head-basic

block styles
  link(rel="stylesheet", href="/css/dist/login.css")

block content
  main.main

    if errors
      div.errors
        each error in errors
            p.errors__message(data-parent=error.path )= error.msg

    section.section
      form.form(method="POST")
        h1.form__title Recuperar contraseña
        div.form__inputs
          div.form__container
            label.form__label(for="email") correo
            input.form__input#email(type="text", name="email", placeholder="Inserta tu correo")
            span.form__decoration
          div.form__links
            a.form__link(href="./register") Crear una cuenta
            a.form__link(href="./login") Login
            input.form__submit(type="submit", value="Buscar")
      picture.picture
        img.picture__img(src="/img/auth/logo.png", alt="murph" id="logo")
block scripts
  script(src="/js/auth/auth.js") 