doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Murph #{pagina}
    link(rel="stylesheet", href="/css/dist/normalize.css")
    block styles
  body
    header.header
      .header__container
        h1.header__title 
          a(href="../") Murph

        nav.nav
          ul.nav__list
            li
              a(href="../") Inicio
            li
              a(href="#producto") Productos
            li
              a(href="#") Sucursales
            li
              a(href="#") Quienes Somos
            li
              a(href="/auth/login") Inciar Sesión
            li
              a.nav__button(href="/auth/register") Registrarse
    block content
    block scripts